section
    background-color: blue
    align-content: center
    text-align: center
    padding-top: 7%
    height: 275px
    font-family: Verdana, Geneva, Tahoma, sans-serif
    color: white
    font-size: xx-large
    button
        border-radius: 30%