/* nav */

nav {
    display: flex;
    width: 100%;
    background-color: rgb(48, 46, 58);
}

.start {
    color: white;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.start1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: whitesmoke;
    /* align-items: baseline; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 50%;
}

@media (min-width: 1008px) {
    nav {
        display: flex;
        width: 100%;
    }
    .start {
        display: flex;
        justify-content: space-between;
        margin-left: 17%;
        width: 25%;
    }
    .start1 {
        margin-right: 100px;
        margin-left: 30%;
    }
}

@media (min-width: 641px) and (max-width: 1007px) {
    nav {
        width: 100%;
        justify-content: space-evenly;
    }
    .start {
        display: flex;
        justify-content: space-between;
    }
    .start1 {
        display: flex;
        justify-content: space-evenly;
    }
}

@media (min-width: 320px) and (max-width: 640px) {
    nav {
        align-items: center;
        justify-content: center;
    }
    .start {
        justify-content: space-between;
        width: 50%;
    }
    .start1 {
        justify-content: space-between;
        width: 80%;
    }
}

/* Fin navbar media */

/* undernav */

.start3 {
    flex-direction: column;
    text-align: center;
    background-color: rgb(245, 43, 43);
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding-bottom: 2%;
}

.start3>img {
    margin-top: 3%;
    height: 100px;
    width: 100px;
}

/* PORTOFOLIO */

.start5 {
    text-align: center;
    height: 100%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
}

.start5>h1 {
    margin-bottom: 1%;
}

.gallerie {
    display: inline;
    width: 100%;
    justify-content: space-between;
    height: auto;
}

.gallerie>div>img {
    height: 150px;
    width: auto;
    border-radius: 4%;
}
/* About */
.about{
    
    margin-top: 3%;
    height: 100%;
    background-color: rgb(245, 43, 43);
    color: white;
    flex-direction: column;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.about>h1{
    padding-top: 1%;
}
.about>p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    text-align: center;
    display: table-cell;
    height: 100px;
    width: 35%;
    /* justify-content: space-between; */
    font-size: smaller;
    margin: 150px;
    
}
/*  fin about */
/*  contacte me */