.main{
    border: brown solid 3px;
    height: 500px;
    display: flex;
    /* pour bouger surl'axe horizon */
    justify-content: center;
    /* pour le bouger sur l'axe vertical*/
    
}
.div{
    border: tomato 2 px;
    width: 45%;
    display: flex;
    
}
.secondary{
    border: solid rgb(144, 48, 24) 100px; 
    height: 150px;
    width: 200px;
    justify-content: last baseline;
    
}
.tertiary{
    border: solid yellow;
    height: 150px;
    display: flex;
    width: 100px;
    align-items: center;
    justify-content: center;
}

