nav {
    display: flex;
    background-color: rgb(49, 71, 94);
    height: 100px;
    justify-content: space-around;
    align-items: center;
    div {
        display: flex;
    }
    p {
        color: whitesmoke;
        width: 100px;
        font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    }
    h1 {
        font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
        color: whitesmoke;
    }
}
