body {
    margin: 5;
    padding-top: 5px;
}

nav {
    display: flex;
    align-items: center;
    padding: 0;
    background-color: black;
    height: 150px;
    width: 100%;
}

nav>img:first-child {
    padding-top: 26px;
    margin-left: 40px;
}

#icon {
    display: flex;
    justify-content:space-between;
    margin-left: 250px;
    position: relative;
    width: 100%;
    margin-top: 20px;
    
}

/* nav>#icon {} */

.item1 {
    flex-direction: column;
    color: blanchedalmond;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* etape1undernav */

.undernav{
    display: flex;
background-color: rgb(91, 89, 102);
height: 200px;
width: 100%;
}
.pak{
    margin-top: 20px;
    margin-left: 100px;
}
.titreban{
    display: flex;
    width: 100%;
    font-size: 50px;
    margin-left: 20%;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: silver;
    
}
.etape1{
    display: flex;
    height: 150px;
    justify-content: center;
}
.etape2{
    width: 20%;
    display: flex;
    align-items: center;
    text-align: center;
    
}
.eclo{
    
    border: solid 1px black;
    height: 26%;
    padding: 5px;
    margin-top: 50px;
    width: 100%;
    padding-top: 20px;
    font-size: 25px;
    background-color: rgb(91, 89, 102);
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    color: white;
}
.etape3{
    display: flex
}
.etape4{
    display: flex;
    margin-left: 100px;
    padding-right: 50px;
}
#lor1{
    font-size: 25px;
    margin-left: 150px;
}