body {
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
    padding: 0;
    background-color: black;
    height: 150px;
    width: 100%;
}

nav>img:first-child {
    padding-top: 26px;
    margin-left: 40px;
}

#icon {
    display: flex;
    justify-content:space-between;
    margin-left: 250px;
    position: relative;
    width: 100%;
    margin-top: 20px;
    
}

/* nav>#icon {} */

.item1 {
    flex-direction: column;
    color: blanchedalmond;
}